@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Futura Std', Arial, sans-serif;
}

.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Bold.eot');
	src: url('../fonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaStd-Bold.woff2') format('woff2'),
		url('../fonts/FuturaStd-Bold.woff') format('woff'),
		url('../fonts/FuturaStd-Bold.ttf') format('truetype'),
		url('../fonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Book.eot');
	src: url('../fonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaStd-Book.woff2') format('woff2'),
		url('../fonts/FuturaStd-Book.woff') format('woff'),
		url('../fonts/FuturaStd-Book.ttf') format('truetype'),
		url('../fonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura Std';
	src: url('../fonts/FuturaStd-Medium.eot');
	src: url('../fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaStd-Medium.woff2') format('woff2'),
		url('../fonts/FuturaStd-Medium.woff') format('woff'),
		url('../fonts/FuturaStd-Medium.ttf') format('truetype'),
		url('../fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background: #f3f1e9;
}

a {
    text-decoration: none;
    color: #f3f1e9;
}

input::-webkit-input-placeholder {
color: #f3f1e9 !important;
}
 
input:-moz-placeholder {
color: #f3f1e9 !important;  
}
 
input::-moz-placeholder { 
color: #f3f1e9 !important;  
}
 
input:-ms-input-placeholder {  
color: #f3f1e9 !important;  
}

/*---------------HEADER------------------*/

header {
    width: 100%;
    height: 6rem;
}

img.logo {
    width: 4%;
    float: left;
    margin: 0 2rem;
}

header nav {
    margin-left: 38%;
} 

header ul {
    list-style-type: none;
}

header li {
    font-style: italic;
    font-size: 25px;
    display: inline-block;
    float: left;
    margin: 1%;
    opacity: 0.3;
    transition: opacity 0.5s;
}

#active {
    opacity: 1;
}

header li:hover {
    opacity: 1;
}

.search-bar {
    float: right;
    margin: 2rem 2rem 0 0;
}

#search, #bouton {
    border: none;
    color: #f3f1e9;
    background: none;
}

#search:focus, #bouton:focus {
    outline: none;
}

#search {
    font-style: italic;
    text-align: right;
    border-bottom: 1px solid #f3f1e9;
}

#bouton {
    margin-left: 5px;
}

.header-home {
    background: #1e1818;
}

.header-western {
    background: #fc9643;
}

.header-scifi {
    background: #79e07e;
}

.header-action {
    background: #751616;
}

.header-disney {
    background: #6bbfbf;
}

/*---------------NAV-HOME------------------*/

.nav-big ul {
    font-size: 0;
}

.nav-big li {
    position: relative;
    width: 25%;
    max-width: 100%;
    display: inline-block;
    list-style-type: none;
    overflow-x: hidden;
}

.nav-big a {
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

.nav-big img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-genre{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 684px;
    text-align: center;
    z-index: 2;
}

.nav-genre:hover{
    background: rgba(0,0,0,0.5);
    transition: all .3s ease-in;
}

.nav-genre span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font: bold 8rem Arial, sans-serif;
    opacity: 0;
}

.nav-genre:hover span {
    opacity: 1;
    letter-spacing: 3px;
    transition: all .3s ease-in;
}

/*---------SONG-INFOS---------------*/

.film-info {
    width: 70%;
    max-width: 1200px;
    margin: 5rem auto;
    padding: 2rem;
    box-sizing: border-box;
}

.film-medias {
    float: left;
    width: 50%;
}

.film-medias img, .film-medias iframe {
    width: 100%;
    max-width: 100%;
}

.film-medias iframe {
    margin-bottom: 1rem;
}

.film-text {
    float: right;
    width: 33%;
    padding-left: 1%;
    text-align: right;
}

.film-text h3 {
    display: inline-block;
    font: 23px "Slabo 27px", serif;
    padding: 1% 15%;
}

.film-text .h3-western {
    background: #fc9643;
}

.film-text p {
    font: 16px "Slabo 27px", serif;
    margin-bottom: 10px;
}

.type-info {
    display: block;
    margin: 2vh 0;
    font: bold italic 12px "Futura Std", sans-serif;
}

/*---------------PAGE-FILM------------------*/

.div-film {
    width: 80%;
    margin: 0 auto;
}

section {
    float: left;
    margin-top: 2%;
    
}

.div-film section div {
    display: inline; 
    width: 25%; 
}

.div-film img {
    width: 20%;
    background: #FFF;
    padding: 10px;
    margin: 2.5%;
    margin-right: 0;
    transition: width 0.5s;
}

.div-film img:hover {
    width: 21%;
}

.div-film section.row3 div:first-child {
    margin-left: 12%;

}
